@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
    color: #f97316;
    /* Màu cam giống text-orange-600 */
}

.swiper-pagination-bullet-active {
    background-color: #f97316;
}

.swiper-slide {
    width: 320px !important;
    /* Phù hợp với w-80 */
    margin-right: 16px;
}

.swiper-slide img {
    max-width: 32px;
    max-height: 32px;
}